.ReactModal__Overlay {
  opacity: 0;
  width: 90%;
  min-height: 75.855%;
  transform: translateX(100px);
  transition: all 500ms ease-in-out;
  margin: auto;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(100px);
}
