.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 100px;
}

.left-navbar {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.navbar img {
  width: 100px;
}

.right-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

/* responsive responsive responsive responsive */
@media only screen and (max-width: 375px) {
}
