.container {
  padding: 20px 10.4% 20px 10.4%;
}

.content {
  display: flex;
  padding-top: 20px;
}

.shiftedElement {
  width: 555px;
  margin-right: 27px;
}

.shiftedElement img {
  width: 555px;
  height: 280px;
  padding-top: 50px;
}

.fourItems div {
  width: 263px;
}
.fourItems div img {
  width: 263px;
  height: 120px;
}
.fourItems {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
}

.exploreButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
/* responsive responsive responsive responsive */
@media only screen and (max-width: 375px) {
  .content {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .shiftedElement {
    width: 100%;
  }

  .shiftedElement img {
    width: 100%;
    height: 80%;
    padding-top: 50px;
  }

  .fourItems div {
    width: 100%;
  }
  .fourItems div img {
    width: 100%;
    height: 50%;
  }
}
