.container {
  position: relative;
  overflow-x: hidden;
}
/* .container img {
  width: 100vw;
} */
.leftArrow,
.rightArrow,
.content {
  position: absolute;
  color: white;
}
.content {
  top: 30%;
  right: 5%;
}

.content h5 {
  color: rgba(255, 255, 255, 1);
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  line-height: 80px;
  width: 69%;
}

.leftArrow,
.rightArrow {
  top: 45%;
  background-color: black;
  opacity: 50%;
  width: 50px;
  border-radius: 50%;
  padding: 15px;
}
.rightArrow {
  right: -25px;
}

.leftArrow {
  left: -25px;
}

.content {
  display: flex;
  flex-direction: column;
}

/* responsive responsive responsive responsive */
@media only screen and (max-width: 375px) {
  .content h5 {
    font-size: 20px;
    line-height: 20px;
    width: 69%;
  }

  .leftArrow,
  .rightArrow {
    top: 35%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }
  .rightArrow {
    right: -20px;
    padding-top: 0px;
    padding-right: 17px;
    padding-left: 5px;
  }

  .leftArrow {
    left: -20px;
    padding-top: 0px;
    padding-left: 17px;
    padding-right: 5px;
  }
}
