hr {
  background-color: black;
  margin-bottom: 20px;
}

.date {
  color: rgba(51, 51, 58, 1);
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
  line-height: 40px;
  text-transform: uppercase;
}
h3 {
  opacity: 1;
  color: rgba(51, 51, 58, 1);
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
  line-height: 50px;
  padding-bottom: 20px;
}

h4 {
  opacity: 1;
  color: rgba(51, 51, 58, 1);
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
  line-height: 35px;
  padding-bottom: 10px;
}

.content {
  color: rgba(51, 51, 58, 1);
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
  line-height: 25px;
}

.content.pContent {
  padding-top: 80px;
}

/* responsive responsive responsive responsive */
@media only screen and (max-width: 375px) {
  .content.pContent {
    padding-top: 0;
  }
  .content {
    text-align: justify;
  }
}
